<a href="https://colab.research.google.com/github/nikitaj832/nikita/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
20//6

3

In [ ]:
2**3
1

1

In [ ]:
2**9

512

In [ ]:
X=10
X<9

False

In [ ]:
x=19
x==19

True

In [ ]:
x=2
x**=4

print(x)

16

In [ ]:
44>>2

11

In [ ]:
"T" not in "tushar"

True

In [ ]:
x=10
type(x) is not str

True

In [ ]:
age=18o

if(age==18):
  print("age is small than 18")

elif(age==19):
  print("age is small than 19")
else:
  print("cond is false")

SyntaxError: ignored

In [ ]:
x=10
y=20
if(type(x)==int and type(y)==int):
  add=x+y
  print(add)
else:
  print("it is not int")

30

In [ ]:
a=int(input("enter first no."))
b=int(input("enter second no."))
c=int(input("enter third no."))
if(a<b):
  print("num",a)
elif(b<c):
  print("num",b)
else:
  print("num",c)

enter first no.3
enter second no.2
enter third no.3
num 2

In [ ]:
str1=input("enter first num")
str2=input("enter second num")
if(str2 in str1):
   print("str is match")
else:
  print("str is not match")

enter first num14332
enter second num143
str is match

In [ ]:
v=["a","e","i","o","u","A","E","I","O","U"]
v1=input("enter the string= ")
if(v1 in v):
   print("it is vowel")
else:
  print("it is not vowel")

enter the string= u
it is vowel